/* **************************************************************** */
/* Module:         css                                              */
/* Description:    Theme oriented CSS                               */
/*                 Using CSS variables to apply a coheherent        */
/*                 styling of elements                              */
/*                                                                  */
/*                 Extra information:                               */
/*                 To set no color(or initial) use,                 */
/*                 box-shadow: none;                                */
/*                 text-shadow:none;                                */
/*                 filter:none;                                     */
/*                 color:initial;                                   */
/* ================================================================ */
/* Date       Version  Author               Description             */
/* ---------- -------- -------------------- ----------------------- */
/* 2021-05-06 1.0.0    Ramses800            Module created.         */
/* **************************************************************** */

/*                                                                  */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*                                                                  */
/*                          CSS variables                           */
/*                                                                  */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*                                                                  */



@font-face {
font-family: MedievalSharp;
src:url(fonts/MedievalSharp-Regular.ttf);
}


:root {
  
  --label_font-size:16px;
  --label_font-family:MedievalSharp, serif;
  --label_color:#593D18;
  --label_height:30px;

  --name_font-family:MedievalSharp, serif;
  --name_font-size:32px;

  --input_font-family: Arial, serif;
  --input_color:#593D18;
  --input_font-size:14px;
  --input_height:30px;
  --input_width:50px; 
  --input_border:1px solid #7a7971;
  --input_border-radius:3px;   

  --table_background-color:rgba(206, 169, 135, 0.1);
  --tableheader_font-family:MedievalSharp, serif;
  --tableheader_font-size:14px;
  --tableheader_color:#2F2310;
  --tableheader_backgroundcolor:rgba(163, 76, 2, 0.3);  

  /* --panel_background-color:darkslategrey; */
  --panel_color:#102F1A;
  --panel_font-family:MedievalSharp, serif;
  --panel_font-size:20px;
  --panel_padding:13px 0px 5px 0px;
    
  --editablecolor:rgba(89, 61, 24, 0.1);
  --disabledcolor:#CEA987;

  
  --linkcolor:#2F2310;
  --radiocolor:darkslategrey;
  --hovercolor: darkslategrey; /* color used for illumniating clickable element */
  --focuscolor: darkslategrey; /* color used for illumniating focus/active selection */  
  --box-shadow-size:0 0 5px;
  --text-shadow-size:0 0 8px; 
  --drop-shadow-size:0 0 11px;
}

/*                                                                  */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*                                                                  */
/*                             Elements                             */
/*                                                                  */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*                                                                  */

.sandbox.sheet{
   
}
.sandbox.sheet .window-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  color:initial;              
        
  /*--------------------------------*/
  /*To use a single background color*/
  /*background-color:tan;*/
  /*background-image:none;*/
  /*--------------------------------*/
  
  /*--------------------------------*/
  /*To use a background image*/
  background-image: url("custom/sbtexture.jpg"); 
  /* Replace no-repeat with repeat for pattern images */
  background-repeat:repeat;*/
  /*--------------------------------*/     
  /* change between hidden and auto to show vertical scroll bar in sheets. Good for long sheets */
  overflow-y: auto; 
}
/* ---------------------------------------------------------------- */
/* Navigational                                                     */
/* ---------------------------------------------------------------- */
.sandbox.sheet .tab-button{
  font-family: MedievalSharp, serif;
  font-size: 18px;
  font-weight: bold;
  color:var(--linkcolor);
  
}
.sandbox.sheet .tab-button:hover{text-shadow: var(--text-shadow-size) var(--hovercolor);}
.sandbox.sheet .leftarrow:hover{filter: drop-shadow(var(--drop-shadow-size) var(--hovercolor));}
.sandbox.sheet .rightarrow:hover{filter: drop-shadow(var(--drop-shadow-size) var(--hovercolor));}

/* ---------------------------------------------------------------- */
/* Panels                                                           */
/* ---------------------------------------------------------------- */
.sandbox.sheet .panelheader {
    /* background-color:var(--panel_background-color); */
    background-color: rgba(89, 61, 24, 0.1);
    background-image: url("custom/panel_header.png");
    background-repeat: repeat-x;
    color: var(--panel_color);
    
    margin-top: 16px;
    margin-bottom: 8px;
    padding: var(--panel_padding);
    font-family: var(--panel_font-family);
    font-size: var(--panel_font-size);
    font-weight: bold;
    text-align: center;  
    
    text-shadow: none; /*1px 1px black;*/
    border-bottom: none; /* 1px solid black;*/
}
.sandbox.sheet .infopanel {

    margin-top: 16px;
}



/* ---------------------------------------------------------------- */
/* Labels                                                           */
/* ---------------------------------------------------------------- */
 
.sandbox.sheet .label-mini,
.sandbox.sheet .label-small,  
.sandbox.sheet .label-med,
.sandbox.sheet .label-medlarge,
.sandbox.sheet .label-large,
.sandbox.sheet .label-free{
    color:var(--label_color);  
    font-family:var(--label_font-family);
    font-size: var(--label_font-size);
    height:var(--label_height);
    font-weight: bold;
}


/* ---------------------------------------------------------------- */
/* Inputs                                                           */
/* ---------------------------------------------------------------- */

/* ------------------------------------ */
/* Generic Input Styling for all inputs */
/* ------------------------------------ */

.sandbox.sheet input:not(.input-disabled):not([readonly=true]):hover{
  box-shadow:var(--box-shadow-size) var(--hovercolor);
  }
.sandbox.sheet input:not(.input-disabled):not([readonly=true]):focus{
  box-shadow:var(--box-shadow-size) var(--focuscolor);
  } 

/* ----------- */
/* Text inputs */
/* ----------- */

/* Editable text*/
.sandbox.sheet input[type=text]:not(.entityname):not(.itemname):not(.input-disabled):not([readonly=true]){
  background-color:var(--editablecolor) !important;
  color: var(--input_color) !important;
  font-size: var(--input_font-size); 
  font-family:var(--input_font-family); 
  height:var(--input_height) !important; 
  border:var(--input_border); 
  border-radius: var(--input_border-radius);
  padding: 3px 3px; 
  text-align:center;
  }    

/*Disabled */
.sandbox.sheet input[type=text].input-disabled,.sandbox.sheet input[type=text][readonly=true]{
  font-family:var(--input_font-family);  
  color: var(--input_color) !important;
  font-size: var(--input_font-size) !important;
  height:var(--input_height) !important; 
  border:var(--input_border); 
  border-radius: var(--input_border-radius);
  background-color:var(--disabledcolor) !important;
  
  box-shadow: none !important; 
  padding: 3px 3px;
  } 
 
/* ----------------------------- */
/* Sandbox specifics text inputs */
/* ----------------------------- */
/*Actor header, citem header*/
.sandbox.sheet input[type=text].entityname,.sandbox.sheet input[type=text].itemname{
  color: var(--input_color) !important;   
  background-color:var(--editablecolor) !important;    
  border:var(--input_border); 
  border-radius: var(--input_border-radius);
  font-family: var(--name_font-family); /*Default is :font-family: "Signika", sans-serif; */
  font-size:var(--name_font-size);
}
.sandbox.sheet input[type=text].input-small{
	width:70px !important;     /*Default value is :70px*/
}
.sandbox.sheet input[type=text].input-med{
	width:110px !important;    /*Default value is :110px*/
}
.sandbox.sheet input[type=text].input-large{
	width: calc(100% - 5px);   /*Default value is :150 px */
}

.sandbox.sheet input[type=text].input-free {
  width:calc(100% - 5px);    /*Default value is :100% */
}

.sandbox.sheet.inatr input[type=text].input-med{
  width:90px !important;    /*Default value is :110px*/
  padding: 0px 10px;
}

  
/* ------------- */
/* Number inputs */
/* ------------- */

/*Editable number*/
.sandbox.sheet input[type=number]:not(.table-empty-small):not(.input-disabled):not([readonly=true]){
  color: var(--input_color) !important;   
  font-family:var(--input_font-family);
  font-size: var(--input_font-size) !important;
  height:var(--input_height) !important;
  border:var(--input_border); 
  border-radius: var(--input_border-radius);
  background-color:var(--editablecolor) !important; 
  padding: 0px 0px !important; 
}

/* disabled number*/
.sandbox.sheet input[type=number][readonly=true],.sandbox.sheet input[type=number].input-disabled{
  color: var(--input_color) !important;   
  font-family:var(--input_font-family);
  font-size: var(--input_font-size) !important;
  height:var(--input_height) !important;
  border:var(--input_border); 
  border-radius: var(--input_border-radius);
  background-color:var(--disabledcolor) !important;
  box-shadow: none !important;

  }     
/* special one used in table*/  
.sandbox.sheet input[type=number].table-empty-small{
  visibility: hidden;

  
} 
/*Spin buttons*/
.sandbox.sheet input[type=number]:not(.input-disabled):not([readonly="true"]):hover::-webkit-inner-spin-button,
.sandbox.sheet input[type=number]:not(.input-disabled):not([readonly="true"]):hover::-webkit-outer-spin-button {
  opacity: 0.5 ;
	margin:0px;
	height:var(--input_height);	
	cursor:pointer;
	-webkit-appearance: textfield ;	
}


/* -------------- */
/* Checkbox Input */
/* -------------- 
.sandbox.sheet input[type=checkbox] {
  -webkit-filter:none;
  -webkit-appearance: none;
  appearance:none;
  background-color: var(--editablecolor) !important;
  border:var(--input_border); 
  border-radius: var(--input_border-radius);
  height:var(--input_height) !important;
  width:var(--input_height) !important;
  cursor:pointer;
  
  color: var(--input_color) !important;
}

.sandbox.sheet input[type=checkbox]:after{
  content: '✓'; 
  color: var(--editablecolor) !important;
}

.sandbox.sheet input[type=checkbox]:checked {
  -webkit-filter:none;
  -webkit-appearance: none;
  appearance:none;
  background: var(--editablecolor)  !important;
  background-color: var(--editablecolor) !important;
}

.sandbox.sheet input[type=checkbox]:checked:after {
  content: '✓'; 
  font-weight: bolder; 
  font-size: var(--input_font-size);
  color: var(--input_color) !important; 
}

*/


/* ---------------------------------------------------------------- */
/* select(dropdowns)                                                */
/* ---------------------------------------------------------------- */
.sandbox.sheet select{
  font-family:var(--input_font-family);
  background-color:var(--editablecolor) !important;
  color: var(--input_color) !important;
  font-size: var(--input_font-size) !important;
  height:var(--input_height) !important; 
  border:var(--input_border); 
  border-radius: var(--input_border-radius);
}
.sandbox.sheet select:hover{box-shadow:var(--box-shadow-size) var(--hovercolor);} 
.sandbox.sheet select:focus{box-shadow:var(--box-shadow-size) var(--focuscolor);} 

/* ---------------------------------------------------------------- */
/* Textareas                                                        */
/* ---------------------------------------------------------------- */
.sandbox.sheet textarea{
  background-color:var(--editablecolor) !important;  
  color: var(--input_color) !important;
  font-size: var(--input_font-size) !important;
  border:var(--input_border); 
  border-radius: var(--input_border-radius); 
  font-family:var(--input_font-family);
}  
.sandbox.sheet textarea:hover{box-shadow:var(--box-shadow-size) var(--hovercolor);}
.sandbox.sheet textarea:focus{box-shadow:var(--box-shadow-size) var(--focuscolor);} 

/* ---------------------------------------------------------------- */
/* Sandbox specific elements                                        */
/* ---------------------------------------------------------------- */

/*Radio buttons*/
.sandbox.sheet .radio-input {    
  vertical-align: middle;
  padding: 4px 4px;
  white-space: nowrap;
  margin-right: 5px;
}
.sandbox.sheet .radio-element{
  color:var(--radiocolor) ;
  
}





.sandbox.sheet .radio-element:hover  {text-shadow:var(--text-shadow-size)  var(--hovercolor);}

/*badge */
.sandbox.sheet .badge-image{color:var(--linkcolor) ;}
.sandbox.sheet .badge-image:hover{text-shadow: var(--text-shadow-size) var(--hovercolor);}
.sandbox.sheet .badge-clickgm{color:var(--linkcolor) ;}
.sandbox.sheet .badge-clickgm:hover{text-shadow: var(--text-shadow-size) var(--hovercolor);}

/* citems related */
.sandbox.sheet .citem-edit{color:var(--linkcolor) ;}
.sandbox.sheet .citem-edit:hover{text-shadow: var(--text-shadow-size) var(--hovercolor);}

.sandbox.sheet .citem-delete{color:var(--linkcolor) ;}
.sandbox.sheet .citem-delete:hover{text-shadow: var(--text-shadow-size) var(--hovercolor);}

.sandbox.sheet .ci-delete{color:var(--linkcolor) ;}
.sandbox.sheet .ci-delete:hover{text-shadow: var(--text-shadow-size) var(--hovercolor);}

.sandbox.sheet .consumable-button{color:var(--linkcolor) ;}
.sandbox.sheet .consumable-button:hover{text-shadow: var(--text-shadow-size) var(--hovercolor);}



/*Reload template button*/
.sandbox.sheet .sheet-reload:hover{text-shadow: var(--text-shadow-size) var(--hovercolor);}
/*Editor on BIO*/
.sandbox.sheet .editor-edit:hover{text-shadow: var(--text-shadow-size) var(--hovercolor);}
/* Rollable links*/
.sandbox.sheet .rollable{color: var(--linkcolor);}
.sandbox.sheet .rollable:hover{color: var(--hovercolor);}
/* links*/
.sandbox.sheet .linkable{color:var(--linkcolor);}
.sandbox.sheet .linkable:hover{color: var(--hovercolor);}


/* ---------------------------------------------------------------- */
/* Tables                                                           */
/* ---------------------------------------------------------------- */
/* Table Body background color */
.sandbox.sheet tbody.table {
  background-color: var(--table_background-color);
}

/* Table ROW Body background color */
.sandbox.sheet tbody tr {
  background-color: var(--table_background-color);
}



.sandbox.sheet thead {
    background-color: var(--tableheader_backgroundcolor);
    color: var(--tableheader_color);
    padding: 1px 5px;
    font-family: var(--tableheader_font-family);
    font-size: var(--tableheader_font-size);
    font-weight: bold;
    text-align: center;
    text-shadow: none; /* Default is 1px 1px black;*/
    border-bottom: 1px solid black;
}

/*Table header cell*/
.sandbox.sheet th,
.sandbox.sheet th.input-min,
.sandbox.sheet th.input-med,
.sandbox.sheet th.input-free {
  font-family:var(--tableheader_font-family) !important;
  font-size:var(--tableheader_font-size) !important;
  color:var(--tableheader_color) !important;
}
/* Tableheader, First column*/
.sandbox.sheet th:first-child {
  text-align:left;
  
}




/* Table cells fonts */
.sandbox.sheet td {
  font-size: var(--input_font-size); 
  font-family:var(--input_font-family); 
  background-color: transparent !important;
  height:var(--label_height); 
  
}


/*                                                                  */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*                                                                  */
/*                         ORIGIN Elements                          */
/*                                                                  */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/*                                                                  */




/* PANELES */


.sandbox.sheet .derivados {

    padding: 8px 5px 5px 5px;

}


#stats_tabrow0 {

    margin-top: 8px;
    

}

.sandbox.sheet .salud {
  
    border-top: 2px dotted #A34C02;
    border-bottom: 2px dotted #A34C02;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 13px 5px 13px 5px;

}

.sandbox.sheet .estados {
  
    border-bottom: 2px dotted #A34C02;
    margin-top: 0px;
    margin-bottom: 14px;
    padding: 0px 0px 13px 0px;

}

/* BADGE */

.sandbox.sheet a.badge-image {
    background: url('custom/beni.png') no-repeat bottom center;
    background-size: 72px;
    height:72px;
    width:72px;
    margin-left:8px;
    display:block;
}

.sandbox.sheet .badge-click {
    /* font-family: Didot, sans-serif;*/
    font-family:var(--label_font-family); 
    font-size: 28px;
    font-weight:bold;
    text-align:center;
    margin-left:-3px;
    margin-top: 20px;
    vertical-align: middle;
    height:72px;
    width:72px;
    display:block;
}

.sandbox.sheet .badge-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
}

.sandbox.sheet .badge-clickgm {

  margin-right:-10px;

}

/* VALOR BASE INPUT SIZE */

.sandbox.sheet input[type=number].vb_ig {
  
  width:30px;
}




/* CHECKBOXES */

.sandbox.sheet .s_check {
  -webkit-filter:none;
  -webkit-appearance: none;
  appearance:none;
  background-color: var(--editablecolor) !important;
  border:var(--input_border); 
  border-radius: var(--input_border-radius);
  content: '' ;
  font-size: 20px;
  height:25px;
  width:30px;
  cursor:pointer;
  vertical-align: middle;
  text-align:center; 
  color: var(--input_color) !important;
}

.sandbox.sheet .s_check:after{
  content: '✓'; 
  color: var(--editablecolor) !important;

}

.sandbox.sheet .s_check:checked {
  -webkit-filter:none;
  -webkit-appearance: none;
  appearance:none;
  background: var(--editablecolor)  !important;
  background-color: var(--editablecolor) !important;
}

.sandbox.sheet .s_check:checked:after {
  content: '✓'; 
  font-weight: bolder; 
  color: var(--input_color) !important;
}


/* MENU HABILIDADES */
.sandbox.sheet .m_personales_ig {
  -webkit-filter:none;
  -webkit-appearance: none;
  appearance:none;
  background-color: rgba(0, 0, 0, 0) ;
  background:rgba(0, 0, 0, 0);
  content: '' ;
  color: #2F2310;
  font-family:var(--label_font-family); 
  font-size:18px;
  font-weight: bold;
  white-space: nowrap;
  border:0px solid!important; 
  margin-left:-50px;
   margin-right:50px;
}



.sandbox.sheet .m_combate_ig {
  -webkit-filter:none;
  -webkit-appearance: none;
  appearance:none;
  background-color: rgba(0, 0, 0, 0) ;
  background:rgba(0, 0, 0, 0);
  content: '' ; 
  color: #2F2310;
  font-family:var(--label_font-family);
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  border:0px solid!important; 
  margin-left:-10px;
  margin-right:0px;
}

.sandbox.sheet .m_conocimientos_ig {
  -webkit-filter:none;
  -webkit-appearance: none;
  appearance:none;
  background-color: rgba(0, 0, 0, 0) ;
  background:rgba(0, 0, 0, 0);
  content: '' ;
  color: #2F2310; 
  font-family:var(--label_font-family);
  font-size: 18px; 
  font-weight: bold;
  white-space: nowrap;
  border:0px solid!important; 
  margin-left:-5px;
   margin-right:20px;
}

.sandbox.sheet .m_arte_ig {
  -webkit-filter:none;
  -webkit-appearance: none;
  appearance:none;
  background-color: rgba(0, 0, 0, 0) ;
  background:rgba(0, 0, 0, 0);
  content: '' ; 
  color: #2F2310;
  font-family:var(--label_font-family);
  font-size: 18px; 
  font-weight: bold;
  white-space: nowrap;
  border:0px solid!important; 
  margin-left:25px;
   margin-right:50px;
}

.sandbox.sheet .m_personales_ig:after {
  content: 'PERSONALES' ;
  color: #2F2310;
  text-decoration-line: none;
}

.sandbox.sheet .m_personales_ig:checked:after {
  content: 'PERSONALES'; 
  color:#593D18;
  text-decoration-line: underline;
}

.sandbox.sheet .m_personales_ig:after {
  content: 'PERSONALES' ;
  color: #2F2310;
  text-decoration-line: none;
}

.sandbox.sheet .m_personales_ig:checked:after {
  content: 'PERSONALES'; 
  color:#593D18;
  text-decoration-line: underline;
}

.sandbox.sheet .m_conocimientos_ig:after {
  content: 'CONOCIMIENTOS' ;
  color: #2F2310;
  text-decoration-line: none;
}

.sandbox.sheet .m_conocimientos_ig:checked:after {
  content: 'CONOCIMIENTOS'; 
  color:#593D18;
  text-decoration-line: underline;
}

.sandbox.sheet .m_arte_ig:after {
  content: 'ARTE' ;
  color: #2F2310;
  text-decoration-line: none;
}

.sandbox.sheet .m_arte_ig:checked:after {
  content: 'ARTE'; 
  color:#593D18;
  text-decoration-line: underline;
}

.sandbox.sheet .m_combate_ig:after {
  content: 'COMBATE' ;
  color: #2F2310;
  text-decoration-line: none;
}

.sandbox.sheet .m_combate_ig:checked:after {
  content: 'COMBATE'; 
  color:#593D18;
  text-decoration-line: underline;
}



/* ---------------------------------------------------------------- */
/* Misc.                                                            */
/* ---------------------------------------------------------------- */
/*scrollbars*/
.sheet-body ::-webkit-scrollbar-thumb {
    background: var(--linkcolor);
    border: 1px solid var(--linkcolor);
}

.sandbox.sheet .new-block {
    padding: 0px 0px;
    width: 100%;
    max-width: 100%;
}



.sandbox.sheet .col-1-1 {
    width: 100%;
    max-width: 100%;
    padding: 0px 3px;
}
.sandbox.sheet .col-1-2 {
    width: 50%;
    max-width: 50%;
    padding: 0px 3px;
    display: inline-block;
    vertical-align: top;
}

.sandbox.sheet .col-1-3 {
    width: 33.33%;
    max-width: 33.33%;
    padding: 0px 3px;
    display: inline-block;
    vertical-align: top;
}
.sandbox.sheet .col-1-4 {
    width: 25%;
    max-width: 25%;
    padding: 0px 3px;
    display: inline-block;
    vertical-align: top;
}

.sandbox.sheet .col-1-6 {
    width: 16.66%;
    max-width:16.66%;
    padding: 0px 3px;
    display:inline-block;
    vertical-align:top;
}

.sandbox.sheet .col-1-8 {
    width: 12.5%;
    max-width:12.5%;
    padding: 0px 3px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .col-3-8 {
    width: 37.5%;
    max-width: 37.5%;
    padding: 0px 3px;
    display: inline-block;
    vertical-align: top;
}

.sandbox.sheet .col-5-8 {
    width: 62.5%;
    max-width: 62.5%;
    padding: 0px 3px;
    display: inline-block;
    vertical-align: top;
}
.sandbox.sheet .col-2-3 {
    width: 66.66%;
    max-width:66.66%;
    padding: 0px 3px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .col-3-4 {
    width: 75%;
    max-width:75%;
    padding: 0px 3px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .col-5-6 {
    width: 83.33%;
    max-width:83.33%;
    padding: 0px 3px;
    display:inline-block;
    vertical-align:top;
}

.sandbox.sheet .multi-1-1-col {
    width: 100%;
    max-width: 100%;
    padding: 0px 1px;
}

.sandbox.sheet .multi-1-2-col {
    width:50%;  
    max-width: 50%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}
/*multi panels*/
.sandbox.sheet .multi-1-1 {
    width:100%;
    padding: 0px 2px 4px 2px;
}
.sandbox.sheet .multi-1-2 {
    width:50%;
    max-width:50%
    padding: 0px 2px 4px 2px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-1-3-col {
    width: 33.33%;
    max-width: 33.33%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}

.sandbox.sheet .multi-1-4-col {
    width: 25%;
    max-width: 25%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-1-6-col {
    width:16.66%;
    max-width:16.66%
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}

.sandbox.sheet .multi-1-8 {
    width: 12.5%;
    max-width:12.5%;
    padding: 0px 2px 4px 2px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-3-8 {
    width: 37.5%;
    max-width: 37.5%;
    padding: 0px 2px 4px 2px;
    display:inline-block;
    vertical-align:top;
}

.sandbox.sheet .multi-5-8 {
    width: 62.5%;
    max-width: 62.5%;
    padding: 0px 2px 4px 2px;
    display:inline-block;
    vertical-align:top;
}

.sandbox.sheet .multi-2-3 {
    width: 66.66%;
    max-width:66.66%;
    padding: 0px 2px 4px 2px;
    display:inline-block;
    vertical-align:top;
} 
.sandbox.sheet .multi-3-4 {
    width: 75%;
    max-width:75%;
    padding: 0px 2px 4px 2px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-5-6 {
    width: 83.33%;
    max-width:83.33%;
    padding: 0px 2px 4px 2px;
    display:inline-block;
    vertical-align:top;
}

.sandbox.sheet .multi-1-1-col {
    width:100%;
    padding: 0px 1px;
}
.sandbox.sheet .multi-1-2-col {
    wwidth:50%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-1-3-col {
    width:33.33%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-1-4-col {
    width:25%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-1-6-col {
    width:16.66%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-1-8-col {
    width:12.5%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
} 

.sandbox.sheet .multi-3-8-col {
    width: 37.5%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-5-8-col {
    width: 62.5%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-2-3-col {
    width:33.33%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-3-4-col {
    width:75%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}
.sandbox.sheet .multi-5-6-col {
    width: 83.33%;
    padding: 0px 1px;
    display:inline-block;
    vertical-align:top;
}